[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openapi-python-client = "*"
pip = "*"
datamodel-code-generator = {extras = ["http"], version = "*"}
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
