[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
neon-client = {file = ".", editable = true}
pytest = "*"
pytest-recording = "*"
pytest-ordering = "*"


[requires]
python_version = "3.12"
