[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"

[dev-packages]
neon-client = {file = ".", editable = true}
pytest-recording = "*"

[requires]
python_version = "3.12"
