interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"silent-hall-60879203","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-975","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z","synthetic_storage_size":0,"quota_reset_at":"2024-02-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"silent-hall-60879203"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 1a8e935964dd8c8a93708b6ff597f5bc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/silent-hall-60879203
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"silent-hall-60879203","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-975","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 923efbba77c71c27186969b1441da987
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-3114"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"silent-cell-86624606","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-3114","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:TaN2mFYSHn0p@ep-dark-block-a5kjtynt.us-east-2.aws.neon.tech/neondb","connection_parameters":{"database":"neondb","password":"TaN2mFYSHn0p","role":"kennethreitz","host":"ep-dark-block-a5kjtynt.us-east-2.aws.neon.tech","pooler_host":"ep-dark-block-a5kjtynt-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-aged-fog-a5tggcga","name":"kennethreitz","password":"TaN2mFYSHn0p","protected":false,"created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z"}],"databases":[{"id":32656138,"branch_id":"br-aged-fog-a5tggcga","name":"neondb","owner_name":"kennethreitz","created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z"}],"operations":[{"id":"cec9a068-af54-4cc3-a40e-a5d842cd77ba","project_id":"silent-cell-86624606","branch_id":"br-aged-fog-a5tggcga","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z","total_duration_ms":0},{"id":"8cfdb6f1-e6ef-4638-a9f3-acde30450d59","project_id":"silent-cell-86624606","branch_id":"br-aged-fog-a5tggcga","endpoint_id":"ep-dark-block-a5kjtynt","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z","total_duration_ms":0}],"branch":{"id":"br-aged-fog-a5tggcga","project_id":"silent-cell-86624606","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z"},"endpoints":[{"host":"ep-dark-block-a5kjtynt.us-east-2.aws.neon.tech","id":"ep-dark-block-a5kjtynt","project_id":"silent-cell-86624606","branch_id":"br-aged-fog-a5tggcga","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 4086da34bfc400b12f8982ff71a1e5b5
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/silent-cell-86624606/branches
  response:
    body:
      string: '{"branches":[{"id":"br-aged-fog-a5tggcga","project_id":"silent-cell-86624606","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 251f32017b0c6bdd4348c3d0344f03f2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/silent-cell-86624606/branches/br-aged-fog-a5tggcga/databases
  response:
    body:
      string: '{"databases":[{"id":32656138,"branch_id":"br-aged-fog-a5tggcga","name":"neondb","owner_name":"kennethreitz","created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - ab37b6db12de0de9ca7ef99145a55594
    status:
      code: 200
      message: OK
version: 1
