interactions:
- request:
    body: '{"key_name": "pytest-3250"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '{"id":774518,"key":"6v5eet41f506cs580ux7alreysh6kmg5ww4vbs2glpivzouojx8dy7xiy7r33skp","name":"pytest-3250","created_at":"2024-01-25T14:27:03Z"}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 4ecb3c3d7a1e0e1159d86f1edf6998a0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '[{"id":774518,"name":"pytest-3250","created_at":"2024-01-25T14:27:03Z","last_used_at":null,"last_used_from_addr":""},{"id":768620,"name":"neon_client","created_at":"2024-01-23T21:56:07Z","last_used_at":"2024-01-25T14:27:03Z","last_used_from_addr":"204.111.161.156"}]'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 5dbdfe85862caed42a9987300f9f3eeb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/api_keys/774518
  response:
    body:
      string: '{"id":774518,"name":"pytest-3250","revoked":true,"last_used_at":null,"last_used_from_addr":""}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - d372a070f6dcf9a61eacb0ae7bc8b302
    status:
      code: 200
      message: OK
version: 1
