interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"plain-cake-88652586","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-8670","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-01-25T14:27:04Z","updated_at":"2024-01-25T14:27:04Z","synthetic_storage_size":0,"quota_reset_at":"2024-02-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"plain-cake-88652586"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 5fa19c815172f3ac8278e1d361b57a67
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/plain-cake-88652586
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"plain-cake-88652586","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-8670","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-25T14:27:04Z","updated_at":"2024-01-25T14:27:04Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 1029ee907756fd80ed07c75898dd8573
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-5633"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"red-breeze-36806144","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-5633","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-25T14:27:05Z","updated_at":"2024-01-25T14:27:05Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:Hi8EN4dtLvMC@ep-small-meadow-a51a2iuk.us-east-2.aws.neon.tech/neondb","connection_parameters":{"database":"neondb","password":"Hi8EN4dtLvMC","role":"kennethreitz","host":"ep-small-meadow-a51a2iuk.us-east-2.aws.neon.tech","pooler_host":"ep-small-meadow-a51a2iuk-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-sparkling-glitter-a5ykl4qi","name":"kennethreitz","password":"Hi8EN4dtLvMC","protected":false,"created_at":"2024-01-25T14:27:05Z","updated_at":"2024-01-25T14:27:05Z"}],"databases":[{"id":32655100,"branch_id":"br-sparkling-glitter-a5ykl4qi","name":"neondb","owner_name":"kennethreitz","created_at":"2024-01-25T14:27:05Z","updated_at":"2024-01-25T14:27:05Z"}],"operations":[{"id":"f2e9086c-1170-4fcf-9524-e77b130db77e","project_id":"red-breeze-36806144","branch_id":"br-sparkling-glitter-a5ykl4qi","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-01-25T14:27:05Z","updated_at":"2024-01-25T14:27:05Z","total_duration_ms":0},{"id":"4f5f9f5b-0e9d-4c98-bb6d-696dd13c2be7","project_id":"red-breeze-36806144","branch_id":"br-sparkling-glitter-a5ykl4qi","endpoint_id":"ep-small-meadow-a51a2iuk","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-25T14:27:05Z","updated_at":"2024-01-25T14:27:05Z","total_duration_ms":0}],"branch":{"id":"br-sparkling-glitter-a5ykl4qi","project_id":"red-breeze-36806144","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-25T14:27:05Z","updated_at":"2024-01-25T14:27:05Z"},"endpoints":[{"host":"ep-small-meadow-a51a2iuk.us-east-2.aws.neon.tech","id":"ep-small-meadow-a51a2iuk","project_id":"red-breeze-36806144","branch_id":"br-sparkling-glitter-a5ykl4qi","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-01-25T14:27:05Z","updated_at":"2024-01-25T14:27:05Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - eeade5e3220ae6cc18edb5b54cbd8f11
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/red-breeze-36806144/branches
  response:
    body:
      string: '{"branches":[{"id":"br-sparkling-glitter-a5ykl4qi","project_id":"red-breeze-36806144","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-25T14:27:05Z","updated_at":"2024-01-25T14:27:05Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - afb856be0f23c62e1c941c80b355dec7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/red-breeze-36806144/branches/br-sparkling-glitter-a5ykl4qi/databases
  response:
    body:
      string: '{"databases":[{"id":32655100,"branch_id":"br-sparkling-glitter-a5ykl4qi","name":"neondb","owner_name":"kennethreitz","created_at":"2024-01-25T14:27:05Z","updated_at":"2024-01-25T14:27:05Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 124ec90a34465040fa7ca6ae0cf95dde
    status:
      code: 200
      message: OK
version: 1
