interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"old-violet-32930710","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-7972","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2025-01-16T21:02:01Z","updated_at":"2025-01-16T21:02:01Z","synthetic_storage_size":0,"quota_reset_at":"2025-02-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"}],"pagination":{"cursor":"old-violet-32930710"},"applications":{},"integrations":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 9841aa78-5a4e-4fe3-8a31-73198af0a5ae
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/old-violet-32930710
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"old-violet-32930710","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-7972","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:02:01Z","updated_at":"2025-01-16T21:02:01Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 870fc99f-e4d5-4879-a6ce-3ad20948c973
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-5484"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"dry-hall-87167252","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-5484","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"},"connection_uris":[{"connection_uri":"postgresql://neondb_owner:tj7PZSJhFw5R@ep-tiny-silence-a53n6kux.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"tj7PZSJhFw5R","role":"neondb_owner","host":"ep-tiny-silence-a53n6kux.us-east-2.aws.neon.tech","pooler_host":"ep-tiny-silence-a53n6kux-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-spring-rice-a5g82f1f","name":"neondb_owner","password":"tj7PZSJhFw5R","protected":false,"created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z"}],"databases":[{"id":39724309,"branch_id":"br-spring-rice-a5g82f1f","name":"neondb","owner_name":"neondb_owner","created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z"}],"operations":[{"id":"10c9b5cf-e781-44b0-9b21-18d5c23be614","project_id":"dry-hall-87167252","branch_id":"br-spring-rice-a5g82f1f","action":"create_timeline","status":"running","failures_count":0,"created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z","total_duration_ms":0},{"id":"2f66df72-e055-4de9-bb6e-ec875c175e73","project_id":"dry-hall-87167252","branch_id":"br-spring-rice-a5g82f1f","endpoint_id":"ep-tiny-silence-a53n6kux","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z","total_duration_ms":0}],"branch":{"id":"br-spring-rice-a5g82f1f","project_id":"dry-hall-87167252","name":"main","current_state":"init","pending_state":"ready","state_changed_at":"2025-01-16T21:02:03Z","creation_source":"console","primary":true,"default":true,"protected":false,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z"},"endpoints":[{"host":"ep-tiny-silence-a53n6kux.us-east-2.aws.neon.tech","id":"ep-tiny-silence-a53n6kux","project_id":"dry-hall-87167252","branch_id":"br-spring-rice-a5g82f1f","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 6b658abd-d6fb-4325-9826-7f84aecfb4fd
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/dry-hall-87167252/branches
  response:
    body:
      string: '{"branches":[{"id":"br-spring-rice-a5g82f1f","project_id":"dry-hall-87167252","name":"main","current_state":"init","pending_state":"ready","state_changed_at":"2025-01-16T21:02:03Z","creation_source":"console","primary":true,"default":true,"protected":false,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z","created_by":{"name":"David","image":"https://lh3.googleusercontent.com/a/ACg8ocIW4y_ki038IdI89ZxbbfuRuXtJyTuDYdTJZkMzWLaBHEdN7AY=s96-c"}}],"annotations":{},"pagination":{"next":"eyJicmFuY2hfaWQiOiJici1zcHJpbmctcmljZS1hNWc4MmYxZiIsInNvcnRfYnkiOiJ1cGRhdGVkX2F0Iiwic29ydF9ieV92YWx1ZSI6IjIwMjUtMDEtMTZUMjE6MDI6MDNaIiwic29ydF9vcmRlciI6IkRFU0MifQ==","sort_by":"updated_at","sort_order":"DESC"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - d9636f2a-ef12-4d41-a106-a844142ae063
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/dry-hall-87167252/branches/br-spring-rice-a5g82f1f/databases
  response:
    body:
      string: '{"databases":[{"id":39724309,"branch_id":"br-spring-rice-a5g82f1f","name":"neondb","owner_name":"neondb_owner","created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 88015758-dec7-49da-bae2-374def81928a
    status:
      code: 200
      message: OK
version: 1
