interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"wandering-paper-56638506","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-1374","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z","synthetic_storage_size":0,"quota_reset_at":"2024-02-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"wandering-paper-56638506"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 6a70ec1f4a4f675f61d46f017667a53b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/wandering-paper-56638506
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"wandering-paper-56638506","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-1374","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - cab6b630fdc1ba0f97940ab685a7e35e
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-2787"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"bitter-river-43445931","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-2787","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:7DhTOBwgc5kq@ep-odd-star-a5vzwewa.us-east-2.aws.neon.tech/neondb","connection_parameters":{"database":"neondb","password":"7DhTOBwgc5kq","role":"kennethreitz","host":"ep-odd-star-a5vzwewa.us-east-2.aws.neon.tech","pooler_host":"ep-odd-star-a5vzwewa-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-dark-bread-a5h5gnnq","name":"kennethreitz","password":"7DhTOBwgc5kq","protected":false,"created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z"}],"databases":[{"id":32655102,"branch_id":"br-dark-bread-a5h5gnnq","name":"neondb","owner_name":"kennethreitz","created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z"}],"operations":[{"id":"b6705366-a654-425b-8d4c-30a906415a3c","project_id":"bitter-river-43445931","branch_id":"br-dark-bread-a5h5gnnq","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z","total_duration_ms":0},{"id":"e43750b3-f533-4ab9-a057-6cfc4474027e","project_id":"bitter-river-43445931","branch_id":"br-dark-bread-a5h5gnnq","endpoint_id":"ep-odd-star-a5vzwewa","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z","total_duration_ms":0}],"branch":{"id":"br-dark-bread-a5h5gnnq","project_id":"bitter-river-43445931","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z"},"endpoints":[{"host":"ep-odd-star-a5vzwewa.us-east-2.aws.neon.tech","id":"ep-odd-star-a5vzwewa","project_id":"bitter-river-43445931","branch_id":"br-dark-bread-a5h5gnnq","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 49ad2fb588d7162acc10efbafec90580
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/bitter-river-43445931/branches
  response:
    body:
      string: '{"branches":[{"id":"br-dark-bread-a5h5gnnq","project_id":"bitter-river-43445931","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 39272dacc3b1f66182d901c0ac781c62
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/bitter-river-43445931/endpoints
  response:
    body:
      string: '{"endpoints":[{"host":"ep-odd-star-a5vzwewa.us-east-2.aws.neon.tech","id":"ep-odd-star-a5vzwewa","project_id":"bitter-river-43445931","branch_id":"br-dark-bread-a5h5gnnq","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"last_active":"2000-01-01T00:00:00Z","creation_source":"console","created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 810e27921ff7103407677df207776bb6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/bitter-river-43445931/endpoints/ep-odd-star-a5vzwewa
  response:
    body:
      string: '{"endpoint":{"host":"ep-odd-star-a5vzwewa.us-east-2.aws.neon.tech","id":"ep-odd-star-a5vzwewa","project_id":"bitter-river-43445931","branch_id":"br-dark-bread-a5h5gnnq","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"last_active":"2000-01-01T00:00:00Z","creation_source":"console","created_at":"2024-01-25T14:27:06Z","updated_at":"2024-01-25T14:27:06Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 32b7a3af7f9a53905ca842a0393d15ca
    status:
      code: 200
      message: OK
version: 1
