interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"solitary-cell-58208823","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-9154","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z","synthetic_storage_size":0,"quota_reset_at":"2025-02-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"}],"pagination":{"cursor":"solitary-cell-58208823"},"applications":{},"integrations":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - fd26cd63-f012-4f34-a32c-505fb94616ce
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/solitary-cell-58208823
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"solitary-cell-58208823","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-9154","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 327a5acd-39bd-4147-b28a-9e7653f8aded
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-2420"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"solitary-thunder-08372287","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-2420","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"},"connection_uris":[{"connection_uri":"postgresql://neondb_owner:bptXao8qK5Mi@ep-dawn-king-a527wlyu.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"bptXao8qK5Mi","role":"neondb_owner","host":"ep-dawn-king-a527wlyu.us-east-2.aws.neon.tech","pooler_host":"ep-dawn-king-a527wlyu-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-calm-union-a59jz26r","name":"neondb_owner","password":"bptXao8qK5Mi","protected":false,"created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z"}],"databases":[{"id":39724311,"branch_id":"br-calm-union-a59jz26r","name":"neondb","owner_name":"neondb_owner","created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z"}],"operations":[{"id":"586b409f-68ba-4615-a850-88a676bb6f9f","project_id":"solitary-thunder-08372287","branch_id":"br-calm-union-a59jz26r","action":"create_timeline","status":"running","failures_count":0,"created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z","total_duration_ms":0},{"id":"5d5ecd28-161d-4ab0-bd5a-9a1cb3e3736e","project_id":"solitary-thunder-08372287","branch_id":"br-calm-union-a59jz26r","endpoint_id":"ep-dawn-king-a527wlyu","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z","total_duration_ms":0}],"branch":{"id":"br-calm-union-a59jz26r","project_id":"solitary-thunder-08372287","name":"main","current_state":"init","pending_state":"ready","state_changed_at":"2025-01-16T21:02:05Z","creation_source":"console","primary":true,"default":true,"protected":false,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z"},"endpoints":[{"host":"ep-dawn-king-a527wlyu.us-east-2.aws.neon.tech","id":"ep-dawn-king-a527wlyu","project_id":"solitary-thunder-08372287","branch_id":"br-calm-union-a59jz26r","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - d5bf0743-9ce4-4eeb-9561-5c1dc8bf9d6d
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/solitary-thunder-08372287/endpoints
  response:
    body:
      string: '{"endpoints":[{"host":"ep-dawn-king-a527wlyu.us-east-2.aws.neon.tech","id":"ep-dawn-king-a527wlyu","project_id":"solitary-thunder-08372287","branch_id":"br-calm-union-a59jz26r","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"last_active":"2000-01-01T00:00:00Z","creation_source":"console","created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - e120990f-1c11-4773-9985-d6e1db9efcea
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/solitary-thunder-08372287/endpoints/ep-dawn-king-a527wlyu
  response:
    body:
      string: '{"endpoint":{"host":"ep-dawn-king-a527wlyu.us-east-2.aws.neon.tech","id":"ep-dawn-king-a527wlyu","project_id":"solitary-thunder-08372287","branch_id":"br-calm-union-a59jz26r","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"last_active":"2000-01-01T00:00:00Z","creation_source":"console","created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 6367f193-dace-4315-9826-69bcfbf4f2b1
    status:
      code: 200
      message: OK
version: 1
