interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 885bb4b68476fa2b8e98495e45aec920
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-904"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"odd-math-29198916","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-904","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-23T22:34:47Z","updated_at":"2024-01-23T22:34:47Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:m5T4RJPdEjiB@ep-tiny-art-a5s7uzng.us-east-2.aws.neon.tech/neondb","connection_parameters":{"database":"neondb","password":"m5T4RJPdEjiB","role":"kennethreitz","host":"ep-tiny-art-a5s7uzng.us-east-2.aws.neon.tech","pooler_host":"ep-tiny-art-a5s7uzng-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-patient-sun-a59mbwwo","name":"kennethreitz","password":"m5T4RJPdEjiB","protected":false,"created_at":"2024-01-23T22:34:47Z","updated_at":"2024-01-23T22:34:47Z"}],"databases":[{"id":32625994,"branch_id":"br-patient-sun-a59mbwwo","name":"neondb","owner_name":"kennethreitz","created_at":"2024-01-23T22:34:47Z","updated_at":"2024-01-23T22:34:47Z"}],"operations":[{"id":"bbab693e-6ad7-4454-866d-fd845bcfaaf9","project_id":"odd-math-29198916","branch_id":"br-patient-sun-a59mbwwo","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-01-23T22:34:47Z","updated_at":"2024-01-23T22:34:47Z","total_duration_ms":0},{"id":"488a4eea-86fb-4647-8692-3c64663d73bb","project_id":"odd-math-29198916","branch_id":"br-patient-sun-a59mbwwo","endpoint_id":"ep-tiny-art-a5s7uzng","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-23T22:34:47Z","updated_at":"2024-01-23T22:34:47Z","total_duration_ms":0}],"branch":{"id":"br-patient-sun-a59mbwwo","project_id":"odd-math-29198916","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-23T22:34:47Z","updated_at":"2024-01-23T22:34:47Z"},"endpoints":[{"host":"ep-tiny-art-a5s7uzng.us-east-2.aws.neon.tech","id":"ep-tiny-art-a5s7uzng","project_id":"odd-math-29198916","branch_id":"br-patient-sun-a59mbwwo","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-01-23T22:34:47Z","updated_at":"2024-01-23T22:34:47Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - d6a3d3706e83028d272e71af8033ff8f
    status:
      code: 201
      message: Created
- request:
    body: '{"project": {"name": "pytest-renamed"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://console.neon.tech/api/v2/projects/odd-math-29198916
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"odd-math-29198916","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-renamed","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-23T22:34:47Z","updated_at":"2024-01-23T22:34:47Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"operations":[]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - a7a4233be7008d15eda8469e20863777
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"odd-math-29198916","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-renamed","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-01-23T22:34:47Z","updated_at":"2024-01-23T22:34:47Z","synthetic_storage_size":0,"quota_reset_at":"2024-02-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"odd-math-29198916"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - ac8e72b6c67669eed91b8d44c01d5836
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/odd-math-29198916
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"odd-math-29198916","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-renamed","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-23T22:34:47Z","updated_at":"2024-01-23T22:34:47Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - f75e2d355a42c82bd0eb7cb457d10f1f
    status:
      code: 200
      message: OK
version: 1
