interactions:
- request:
    body: '{"key_name": "pytest-5482"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '{"id":768745,"key":"8b9ezkgcm46nk5fgdg84b31tw2smoojxcakymrvq46x4i0fis7puto9ad81o7d4c","name":"pytest-5482","created_at":"2024-01-23T22:34:47Z"}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 534aa267d9215c4a9906eb1ecdecfbf1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '[{"id":768745,"name":"pytest-5482","created_at":"2024-01-23T22:34:47Z","last_used_at":null,"last_used_from_addr":""},{"id":768657,"name":"pytest-330","created_at":"2024-01-23T22:04:59Z","last_used_at":null,"last_used_from_addr":""},{"id":768620,"name":"neon_client","created_at":"2024-01-23T21:56:07Z","last_used_at":"2024-01-23T22:34:47Z","last_used_from_addr":"204.111.161.156"}]'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - b1d947c8facb4874741524eb128f8839
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/api_keys/768745
  response:
    body:
      string: '{"id":768745,"name":"pytest-5482","revoked":true,"last_used_at":null,"last_used_from_addr":""}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 865a6f80f3ce504a56c9f422ec7ecae9
    status:
      code: 200
      message: OK
version: 1
