interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"dawn-thunder-32985739","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-1650","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:03Z","synthetic_storage_size":0,"quota_reset_at":"2024-03-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"dawn-thunder-32985739"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 2ce72590ed785ae4a9e6a1c3eba9fdd3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/dawn-thunder-32985739
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"dawn-thunder-32985739","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-1650","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:03Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - c9f3a5be36e67049001a98cb15ae7ab2
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-8043"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"shrill-haze-90386576","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-8043","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:SrYp0Qc1IfVw@ep-curly-butterfly-a5q4jnv9.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"SrYp0Qc1IfVw","role":"kennethreitz","host":"ep-curly-butterfly-a5q4jnv9.us-east-2.aws.neon.tech","pooler_host":"ep-curly-butterfly-a5q4jnv9-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-wispy-heart-a5rzuzp9","name":"kennethreitz","password":"SrYp0Qc1IfVw","protected":false,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z"}],"databases":[{"id":32885821,"branch_id":"br-wispy-heart-a5rzuzp9","name":"neondb","owner_name":"kennethreitz","created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z"}],"operations":[{"id":"7890b7f6-764d-4fec-a185-24e2897cec1b","project_id":"shrill-haze-90386576","branch_id":"br-wispy-heart-a5rzuzp9","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","total_duration_ms":0},{"id":"c6452bca-9cc1-480e-b34d-4da91faf71d5","project_id":"shrill-haze-90386576","branch_id":"br-wispy-heart-a5rzuzp9","endpoint_id":"ep-curly-butterfly-a5q4jnv9","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","total_duration_ms":0}],"branch":{"id":"br-wispy-heart-a5rzuzp9","project_id":"shrill-haze-90386576","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z"},"endpoints":[{"host":"ep-curly-butterfly-a5q4jnv9.us-east-2.aws.neon.tech","id":"ep-curly-butterfly-a5q4jnv9","project_id":"shrill-haze-90386576","branch_id":"br-wispy-heart-a5rzuzp9","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - d78079b40a6f6933e3031fca0184c616
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/shrill-haze-90386576/branches
  response:
    body:
      string: '{"branches":[{"id":"br-wispy-heart-a5rzuzp9","project_id":"shrill-haze-90386576","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 7628c0ba22399ad107f75bf798e316e4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/shrill-haze-90386576/branches/br-wispy-heart-a5rzuzp9/databases
  response:
    body:
      string: '{"databases":[{"id":32885821,"branch_id":"br-wispy-heart-a5rzuzp9","name":"neondb","owner_name":"kennethreitz","created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 0fec6048549da8a9c804173b469dccdd
    status:
      code: 200
      message: OK
version: 1
