interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"bold-sun-73491519","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-4620","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-01-25T15:57:50Z","updated_at":"2024-01-25T15:57:52Z","synthetic_storage_size":32658752,"quota_reset_at":"2024-03-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"bold-sun-73491519"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 8a01c8b658af42e163c5529ffd82490d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/bold-sun-73491519
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":130593648,"data_transfer_bytes":0,"written_data_bytes":32073120,"compute_time_seconds":86,"active_time_seconds":308,"cpu_used_sec":86,"id":"bold-sun-73491519","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-4620","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-25T15:57:50Z","updated_at":"2024-01-25T15:57:52Z","synthetic_storage_size":32815400,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - c3a3af09adbe473600ea21d28b42ae3f
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-7002"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"icy-dream-08641192","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-7002","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:02Z","updated_at":"2024-02-07T14:04:02Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:SfveBzuq78bs@ep-floral-shape-a5lure6e.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"SfveBzuq78bs","role":"kennethreitz","host":"ep-floral-shape-a5lure6e.us-east-2.aws.neon.tech","pooler_host":"ep-floral-shape-a5lure6e-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-patient-block-a5ut6a96","name":"kennethreitz","password":"SfveBzuq78bs","protected":false,"created_at":"2024-02-07T14:04:02Z","updated_at":"2024-02-07T14:04:02Z"}],"databases":[{"id":32885819,"branch_id":"br-patient-block-a5ut6a96","name":"neondb","owner_name":"kennethreitz","created_at":"2024-02-07T14:04:02Z","updated_at":"2024-02-07T14:04:02Z"}],"operations":[{"id":"e55c0a28-45ae-43c3-bf9a-a355e4c0c044","project_id":"icy-dream-08641192","branch_id":"br-patient-block-a5ut6a96","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-02-07T14:04:02Z","updated_at":"2024-02-07T14:04:02Z","total_duration_ms":0},{"id":"ab5e9075-ea22-458a-b1cc-8d1299bc28c9","project_id":"icy-dream-08641192","branch_id":"br-patient-block-a5ut6a96","endpoint_id":"ep-floral-shape-a5lure6e","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-02-07T14:04:02Z","updated_at":"2024-02-07T14:04:02Z","total_duration_ms":0}],"branch":{"id":"br-patient-block-a5ut6a96","project_id":"icy-dream-08641192","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-02-07T14:04:02Z","updated_at":"2024-02-07T14:04:02Z"},"endpoints":[{"host":"ep-floral-shape-a5lure6e.us-east-2.aws.neon.tech","id":"ep-floral-shape-a5lure6e","project_id":"icy-dream-08641192","branch_id":"br-patient-block-a5ut6a96","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-02-07T14:04:02Z","updated_at":"2024-02-07T14:04:02Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - fa793ced2650e06e79cb8bcbf28c5a0f
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/icy-dream-08641192
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"icy-dream-08641192","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-7002","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:02Z","updated_at":"2024-02-07T14:04:02Z","synthetic_storage_size":0,"consumption_period_start":"2024-01-13T02:10:30Z","consumption_period_end":"2024-03-01T00:00:00Z","quota_reset_at":"2024-03-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de","owner":{"email":"me@kennethreitz.org","branches_limit":10,"subscription_type":"free"}}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - a236ba010dafe0e8e281d54d6fd772a9
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/shared
  response:
    body:
      string: '{"projects":[]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - f9e5d9847e96d8b0b679c844bcf289c6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/icy-dream-08641192/connection_uri?database_name=neondb&role_name=neondb_owner&pooled=True
  response:
    body:
      string: '{"uri":"postgres://kennethreitz:SfveBzuq78bs@ep-floral-shape-a5lure6e.us-east-2.aws.neon.tech/neondb?sslmode=require"}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - c2dc90aab245f1de6f981b1b99e0adb6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/icy-dream-08641192
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"icy-dream-08641192","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-4134","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:02Z","updated_at":"2024-02-07T14:04:02Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - c2dc90aab245f1de6f981b1b99e0adb6
    status:
      code: 200
      message: OK
version: 1
