interactions:
- request:
    body: '{"key_name": "pytest-8050"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '{"id":1954948,"key":"m5azy6fs2cea9mr9b37e5k6wclu7olast37zrt3f1mjhha02gl8if38pb2tmdsot","name":"pytest-8050","created_at":"2025-01-16T21:01:58Z","created_by":"92cdd2ee-a6d8-4647-868f-124531123b03"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 332164ee-24a6-440d-a486-77679f124fd4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '[{"id":1954948,"name":"pytest-8050","created_at":"2025-01-16T21:01:58Z","created_by":{"id":"92cdd2ee-a6d8-4647-868f-124531123b03","name":"David
        Gomes","image":"https://lh3.googleusercontent.com/a/ACg8ocIW4y_ki038IdI89ZxbbfuRuXtJyTuDYdTJZkMzWLaBHEdN7AY=s96-c"},"last_used_at":null,"last_used_from_addr":""},{"id":1937557,"name":"other
        test","created_at":"2025-01-03T20:02:41Z","created_by":{"id":"92cdd2ee-a6d8-4647-868f-124531123b03","name":"David
        Gomes","image":"https://lh3.googleusercontent.com/a/ACg8ocIW4y_ki038IdI89ZxbbfuRuXtJyTuDYdTJZkMzWLaBHEdN7AY=s96-c"},"last_used_at":"2025-01-03T20:06:28Z","last_used_from_addr":"52.200.136.63"},{"id":1934773,"name":"quick_test","created_at":"2025-01-01T21:15:36Z","created_by":{"id":"92cdd2ee-a6d8-4647-868f-124531123b03","name":"David
   [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/api_keys/1954948
  response:
    body:
      string: '{"id":1954948,"name":"pytest-8050","created_at":"2025-01-16T21:01:58Z","created_by":"92cdd2ee-a6d8-4647-868f-124531123b03","last_used_at":null,"last_used_from_addr":"","revoked":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - fb342a59-a74a-47ce-a1da-46f8d6d1d2a1
    status:
      code: 200
      message: OK
version: 1
