interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"frosty-silence-91759038","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-3866","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","synthetic_storage_size":0,"quota_reset_at":"2024-03-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"frosty-silence-91759038"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 8250e07c6425d276dea7da2705e2bed6
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/frosty-silence-91759038
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"frosty-silence-91759038","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-3866","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 47710aa5fb66b0da3a6ab48520344913
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-5693"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"wild-mouse-66436193","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-5693","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:3j4cxyfVJOLP@ep-silent-base-a5jwdx30.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"3j4cxyfVJOLP","role":"kennethreitz","host":"ep-silent-base-a5jwdx30.us-east-2.aws.neon.tech","pooler_host":"ep-silent-base-a5jwdx30-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-delicate-sunset-a5nlwu09","name":"kennethreitz","password":"3j4cxyfVJOLP","protected":false,"created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z"}],"databases":[{"id":32885824,"branch_id":"br-delicate-sunset-a5nlwu09","name":"neondb","owner_name":"kennethreitz","created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z"}],"operations":[{"id":"8067d217-b94d-464b-9532-1f6825948786","project_id":"wild-mouse-66436193","branch_id":"br-delicate-sunset-a5nlwu09","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z","total_duration_ms":0},{"id":"6b89b9d3-5420-46e8-a0d0-443d4ca101bc","project_id":"wild-mouse-66436193","branch_id":"br-delicate-sunset-a5nlwu09","endpoint_id":"ep-silent-base-a5jwdx30","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z","total_duration_ms":0}],"branch":{"id":"br-delicate-sunset-a5nlwu09","project_id":"wild-mouse-66436193","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z"},"endpoints":[{"host":"ep-silent-base-a5jwdx30.us-east-2.aws.neon.tech","id":"ep-silent-base-a5jwdx30","project_id":"wild-mouse-66436193","branch_id":"br-delicate-sunset-a5nlwu09","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - eec6a9c4b265f6753e30c02db29af599
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/wild-mouse-66436193/endpoints
  response:
    body:
      string: '{"endpoints":[{"host":"ep-silent-base-a5jwdx30.us-east-2.aws.neon.tech","id":"ep-silent-base-a5jwdx30","project_id":"wild-mouse-66436193","branch_id":"br-delicate-sunset-a5nlwu09","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"last_active":"2000-01-01T00:00:00Z","creation_source":"console","created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - edda2a93551b3c3d2c9f333c462911f8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/wild-mouse-66436193/endpoints/ep-silent-base-a5jwdx30
  response:
    body:
      string: '{"endpoint":{"host":"ep-silent-base-a5jwdx30.us-east-2.aws.neon.tech","id":"ep-silent-base-a5jwdx30","project_id":"wild-mouse-66436193","branch_id":"br-delicate-sunset-a5nlwu09","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"last_active":"2000-01-01T00:00:00Z","creation_source":"console","created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - ec503135f79cb3c2a7b2236e68c1dc8b
    status:
      code: 200
      message: OK
version: 1
