interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 72384706de02e9a3f7b00af35937c5f3
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-1124"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"cool-bird-75158673","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-1124","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-24T13:55:41Z","updated_at":"2024-01-24T13:55:41Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:pbKEAwCt4l3Q@ep-broad-shadow-a5zv1xko.us-east-2.aws.neon.tech/neondb","connection_parameters":{"database":"neondb","password":"pbKEAwCt4l3Q","role":"kennethreitz","host":"ep-broad-shadow-a5zv1xko.us-east-2.aws.neon.tech","pooler_host":"ep-broad-shadow-a5zv1xko-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-silent-sunset-a5za8cyv","name":"kennethreitz","password":"pbKEAwCt4l3Q","protected":false,"created_at":"2024-01-24T13:55:41Z","updated_at":"2024-01-24T13:55:41Z"}],"databases":[{"id":32636971,"branch_id":"br-silent-sunset-a5za8cyv","name":"neondb","owner_name":"kennethreitz","created_at":"2024-01-24T13:55:41Z","updated_at":"2024-01-24T13:55:41Z"}],"operations":[{"id":"f1fc8c0f-d17c-4d24-9585-d8309def29d6","project_id":"cool-bird-75158673","branch_id":"br-silent-sunset-a5za8cyv","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-01-24T13:55:41Z","updated_at":"2024-01-24T13:55:41Z","total_duration_ms":0},{"id":"acc6ae0a-60cc-4fe6-8f50-f07b86b617fb","project_id":"cool-bird-75158673","branch_id":"br-silent-sunset-a5za8cyv","endpoint_id":"ep-broad-shadow-a5zv1xko","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-24T13:55:41Z","updated_at":"2024-01-24T13:55:41Z","total_duration_ms":0}],"branch":{"id":"br-silent-sunset-a5za8cyv","project_id":"cool-bird-75158673","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-24T13:55:41Z","updated_at":"2024-01-24T13:55:41Z"},"endpoints":[{"host":"ep-broad-shadow-a5zv1xko.us-east-2.aws.neon.tech","id":"ep-broad-shadow-a5zv1xko","project_id":"cool-bird-75158673","branch_id":"br-silent-sunset-a5za8cyv","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-01-24T13:55:41Z","updated_at":"2024-01-24T13:55:41Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 0cc52a86da1812674c6af69b58cc1ca3
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/cool-bird-75158673/branches
  response:
    body:
      string: '{"branches":[{"id":"br-silent-sunset-a5za8cyv","project_id":"cool-bird-75158673","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-24T13:55:41Z","updated_at":"2024-01-24T13:55:41Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 34bbb6a0319f2064f340a67115109e1e
    status:
      code: 200
      message: OK
version: 1
