interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 8d8fb7c8b61612022d2759f4b6568a8b
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-1650"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"dawn-thunder-32985739","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-1650","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:03Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:D3w4xRWTXdNZ@ep-tiny-brook-a50d320m.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"D3w4xRWTXdNZ","role":"kennethreitz","host":"ep-tiny-brook-a50d320m.us-east-2.aws.neon.tech","pooler_host":"ep-tiny-brook-a50d320m-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-sparkling-wildflower-a561dd4b","name":"kennethreitz","password":"D3w4xRWTXdNZ","protected":false,"created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:03Z"}],"databases":[{"id":32885820,"branch_id":"br-sparkling-wildflower-a561dd4b","name":"neondb","owner_name":"kennethreitz","created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:03Z"}],"operations":[{"id":"5c0b6796-1fe4-4a68-aa93-b5007cde5cd3","project_id":"dawn-thunder-32985739","branch_id":"br-sparkling-wildflower-a561dd4b","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:03Z","total_duration_ms":0},{"id":"30cadcee-cb97-45af-a8e3-3cf2c15c18a6","project_id":"dawn-thunder-32985739","branch_id":"br-sparkling-wildflower-a561dd4b","endpoint_id":"ep-tiny-brook-a50d320m","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:03Z","total_duration_ms":0}],"branch":{"id":"br-sparkling-wildflower-a561dd4b","project_id":"dawn-thunder-32985739","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:03Z"},"endpoints":[{"host":"ep-tiny-brook-a50d320m.us-east-2.aws.neon.tech","id":"ep-tiny-brook-a50d320m","project_id":"dawn-thunder-32985739","branch_id":"br-sparkling-wildflower-a561dd4b","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:03Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 2d592751381d3803fb9a9ab49c26086b
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/dawn-thunder-32985739/branches
  response:
    body:
      string: '{"branches":[{"id":"br-sparkling-wildflower-a561dd4b","project_id":"dawn-thunder-32985739","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:03Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 5a7c7654574b3ca6160bb3686368fd61
    status:
      code: 200
      message: OK
version: 1
