interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"dry-hall-87167252","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-5484","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z","synthetic_storage_size":0,"quota_reset_at":"2025-02-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"}],"pagination":{"cursor":"dry-hall-87167252"},"applications":{},"integrations":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 556c54bf-3552-4550-b53a-b4b76195e5e1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/dry-hall-87167252
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"dry-hall-87167252","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-5484","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:02:03Z","updated_at":"2025-01-16T21:02:03Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - eb1c7a52-5e06-46fd-8d43-0ed914e906b9
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-9154"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"solitary-cell-58208823","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-9154","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"},"connection_uris":[{"connection_uri":"postgresql://neondb_owner:hj6MSzbYlNw8@ep-lingering-surf-a5926aiu.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"hj6MSzbYlNw8","role":"neondb_owner","host":"ep-lingering-surf-a5926aiu.us-east-2.aws.neon.tech","pooler_host":"ep-lingering-surf-a5926aiu-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-yellow-dawn-a5qftt8g","name":"neondb_owner","password":"hj6MSzbYlNw8","protected":false,"created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z"}],"databases":[{"id":39724310,"branch_id":"br-yellow-dawn-a5qftt8g","name":"neondb","owner_name":"neondb_owner","created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z"}],"operations":[{"id":"69de6dd4-597f-404f-a095-c96702407d7b","project_id":"solitary-cell-58208823","branch_id":"br-yellow-dawn-a5qftt8g","action":"create_timeline","status":"running","failures_count":0,"created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z","total_duration_ms":0},{"id":"d6ad21e4-725d-493f-a495-43867ad88d09","project_id":"solitary-cell-58208823","branch_id":"br-yellow-dawn-a5qftt8g","endpoint_id":"ep-lingering-surf-a5926aiu","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z","total_duration_ms":0}],"branch":{"id":"br-yellow-dawn-a5qftt8g","project_id":"solitary-cell-58208823","name":"main","current_state":"init","pending_state":"ready","state_changed_at":"2025-01-16T21:02:04Z","creation_source":"console","primary":true,"default":true,"protected":false,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z"},"endpoints":[{"host":"ep-lingering-surf-a5926aiu.us-east-2.aws.neon.tech","id":"ep-lingering-surf-a5926aiu","project_id":"solitary-cell-58208823","branch_id":"br-yellow-dawn-a5qftt8g","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 6eda115f-34a4-4591-b15d-19a7fa46bfbb
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/solitary-cell-58208823/branches
  response:
    body:
      string: '{"branches":[{"id":"br-yellow-dawn-a5qftt8g","project_id":"solitary-cell-58208823","name":"main","current_state":"init","pending_state":"ready","state_changed_at":"2025-01-16T21:02:04Z","creation_source":"console","primary":true,"default":true,"protected":false,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z","created_by":{"name":"David","image":"https://lh3.googleusercontent.com/a/ACg8ocIW4y_ki038IdI89ZxbbfuRuXtJyTuDYdTJZkMzWLaBHEdN7AY=s96-c"}}],"annotations":{},"pagination":{"next":"eyJicmFuY2hfaWQiOiJici15ZWxsb3ctZGF3bi1hNXFmdHQ4ZyIsInNvcnRfYnkiOiJ1cGRhdGVkX2F0Iiwic29ydF9ieV92YWx1ZSI6IjIwMjUtMDEtMTZUMjE6MDI6MDRaIiwic29ydF9vcmRlciI6IkRFU0MifQ==","sort_by":"updated_at","sort_order":"DESC"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 3a4b8a99-6ae7-4ab7-9c03-2a9a18805b2c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/solitary-cell-58208823/operations
  response:
    body:
      string: '{"operations":[{"id":"d6ad21e4-725d-493f-a495-43867ad88d09","project_id":"solitary-cell-58208823","branch_id":"br-yellow-dawn-a5qftt8g","endpoint_id":"ep-lingering-surf-a5926aiu","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z","total_duration_ms":0},{"id":"69de6dd4-597f-404f-a095-c96702407d7b","project_id":"solitary-cell-58208823","branch_id":"br-yellow-dawn-a5qftt8g","action":"create_timeline","status":"running","failures_count":0,"created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z","total_duration_ms":31}],"pagination":{"cursor":"2025-01-16T21:02:04.214837Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - ba1612f6-a8a9-44b4-b0b8-82aabbf4ba91
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/solitary-cell-58208823/operations/d6ad21e4-725d-493f-a495-43867ad88d09
  response:
    body:
      string: '{"operation":{"id":"d6ad21e4-725d-493f-a495-43867ad88d09","project_id":"solitary-cell-58208823","branch_id":"br-yellow-dawn-a5qftt8g","endpoint_id":"ep-lingering-surf-a5926aiu","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2025-01-16T21:02:04Z","updated_at":"2025-01-16T21:02:04Z","total_duration_ms":0}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - b9c8e2f7-c3be-4a12-bdd3-7498dc4b78ae
    status:
      code: 200
      message: OK
version: 1
