interactions:
- request:
    body: '{"key_name": "pytest-7165"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '{"id":774735,"key":"cr1h99xaf219r2b1x48f0ezxcz1fm3ypx5zgqzrktvszf324bysgj0k3co0xrpji","name":"pytest-7165","created_at":"2024-01-25T15:57:46Z"}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 8dcbf028f5370c2852df1c5d8ddf75af
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '[{"id":774735,"name":"pytest-7165","created_at":"2024-01-25T15:57:46Z","last_used_at":null,"last_used_from_addr":""},{"id":768620,"name":"neon_client","created_at":"2024-01-23T21:56:07Z","last_used_at":"2024-01-25T15:57:46Z","last_used_from_addr":"204.111.161.156"}]'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - a85a39be9e094e4e20523b5b5e00f2c4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/api_keys/774735
  response:
    body:
      string: '{"id":774735,"name":"pytest-7165","revoked":true,"last_used_at":null,"last_used_from_addr":""}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 61b66794bc2ac60a5f8b19b054e5e9fa
    status:
      code: 200
      message: OK
version: 1
