interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"aged-salad-46255801","platform_id":"azure","region_id":"azure-eastus2","name":"test","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":2,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":16,"proxy_host":"eastus2.azure.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"active_time":1340,"cpu_used_sec":343,"creation_source":"console","created_at":"2024-12-27T17:00:44Z","updated_at":"2025-01-13T04:08:18Z","synthetic_storage_size":46881408,"quota_reset_at":"2025-02-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03","compute_last_active_at":"2025-01-13T04:08:09Z"}],"pagination":{"cursor":"aged-salad-46255801"},"applications":{},"integrations":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 000a25e6-8677-4268-a0ae-89d8fc72e7ee
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/aged-salad-46255801
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":15807655176,"data_transfer_bytes":27735,"written_data_bytes":21858512,"compute_time_seconds":343,"active_time_seconds":1340,"cpu_used_sec":343,"id":"aged-salad-46255801","platform_id":"azure","region_id":"azure-eastus2","name":"test","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":2,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":16,"proxy_host":"eastus2.azure.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2024-12-27T17:00:44Z","updated_at":"2025-01-13T04:08:18Z","synthetic_storage_size":46881408,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03","compute_last_active_at":"2025-01-13T04:08:09Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 4fc0bdff-5ac4-4a41-b8af-d98ac8f2f7d1
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-6473"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"long-forest-06846227","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-6473","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:01:59Z","updated_at":"2025-01-16T21:01:59Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"},"connection_uris":[{"connection_uri":"postgresql://neondb_owner:GehbNIcf6tQ7@ep-jolly-frost-a57qv4wh.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"GehbNIcf6tQ7","role":"neondb_owner","host":"ep-jolly-frost-a57qv4wh.us-east-2.aws.neon.tech","pooler_host":"ep-jolly-frost-a57qv4wh-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-floral-wind-a5090hvr","name":"neondb_owner","password":"GehbNIcf6tQ7","protected":false,"created_at":"2025-01-16T21:01:59Z","updated_at":"2025-01-16T21:01:59Z"}],"databases":[{"id":39724307,"branch_id":"br-floral-wind-a5090hvr","name":"neondb","owner_name":"neondb_owner","created_at":"2025-01-16T21:01:59Z","updated_at":"2025-01-16T21:01:59Z"}],"operations":[{"id":"389d2336-3e9f-41b6-9042-5f06317b30d4","project_id":"long-forest-06846227","branch_id":"br-floral-wind-a5090hvr","action":"create_timeline","status":"running","failures_count":0,"created_at":"2025-01-16T21:02:00Z","updated_at":"2025-01-16T21:02:00Z","total_duration_ms":0},{"id":"4ddd4212-07ac-4264-aa43-d39702b504e5","project_id":"long-forest-06846227","branch_id":"br-floral-wind-a5090hvr","endpoint_id":"ep-jolly-frost-a57qv4wh","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2025-01-16T21:02:00Z","updated_at":"2025-01-16T21:02:00Z","total_duration_ms":0}],"branch":{"id":"br-floral-wind-a5090hvr","project_id":"long-forest-06846227","name":"main","current_state":"init","pending_state":"ready","state_changed_at":"2025-01-16T21:01:59Z","creation_source":"console","primary":true,"default":true,"protected":false,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2025-01-16T21:01:59Z","updated_at":"2025-01-16T21:01:59Z"},"endpoints":[{"host":"ep-jolly-frost-a57qv4wh.us-east-2.aws.neon.tech","id":"ep-jolly-frost-a57qv4wh","project_id":"long-forest-06846227","branch_id":"br-floral-wind-a5090hvr","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2025-01-16T21:01:59Z","updated_at":"2025-01-16T21:01:59Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 0ff3a492-17ce-4304-9022-e4299c37acb2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/long-forest-06846227
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"long-forest-06846227","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-6473","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:01:59Z","updated_at":"2025-01-16T21:01:59Z","synthetic_storage_size":0,"consumption_period_start":"2025-01-01T00:00:00Z","consumption_period_end":"2025-02-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03","owner":{"email":"david@neon.tech","name":"David
        Gomes","branches_limit":10,"subscription_type":"free_v2"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 90e48bfc-5d79-41a1-bca0-1fe865c625c8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/shared
  response:
    body:
      string: '{"projects":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 277ee33d-9f6c-4a3a-a46d-ad45d599b3e5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/long-forest-06846227/connection_uri?database_name=neondb&role_name=neondb_owner&pooled=True
  response:
    body:
      string: '{"uri":"postgresql://neondb_owner:GehbNIcf6tQ7@ep-jolly-frost-a57qv4wh-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 8944b8b4-5cd2-4aa0-9c76-b282be1262fa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/long-forest-06846227
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"long-forest-06846227","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-3773","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:01:59Z","updated_at":"2025-01-16T21:02:00Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 4c0ee11b-a6a4-4ab0-bd54-92ed122d85f8
    status:
      code: 200
      message: OK
version: 1
