interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[],"applications":{},"integrations":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 9178553b-b252-4539-8cd6-21bf0a3742a7
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-7972"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"old-violet-32930710","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-7972","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:02:01Z","updated_at":"2025-01-16T21:02:01Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"},"connection_uris":[{"connection_uri":"postgresql://neondb_owner:rR84YwkouSPQ@ep-misty-sea-a5833nbi.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"rR84YwkouSPQ","role":"neondb_owner","host":"ep-misty-sea-a5833nbi.us-east-2.aws.neon.tech","pooler_host":"ep-misty-sea-a5833nbi-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-noisy-breeze-a5e59rrb","name":"neondb_owner","password":"rR84YwkouSPQ","protected":false,"created_at":"2025-01-16T21:02:01Z","updated_at":"2025-01-16T21:02:01Z"}],"databases":[{"id":39724308,"branch_id":"br-noisy-breeze-a5e59rrb","name":"neondb","owner_name":"neondb_owner","created_at":"2025-01-16T21:02:01Z","updated_at":"2025-01-16T21:02:01Z"}],"operations":[{"id":"1e604957-513d-4930-86b3-443f34fe4d39","project_id":"old-violet-32930710","branch_id":"br-noisy-breeze-a5e59rrb","action":"create_timeline","status":"running","failures_count":0,"created_at":"2025-01-16T21:02:02Z","updated_at":"2025-01-16T21:02:02Z","total_duration_ms":0},{"id":"901af6fb-8692-43f4-82b6-6c701cba8ae9","project_id":"old-violet-32930710","branch_id":"br-noisy-breeze-a5e59rrb","endpoint_id":"ep-misty-sea-a5833nbi","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2025-01-16T21:02:02Z","updated_at":"2025-01-16T21:02:02Z","total_duration_ms":0}],"branch":{"id":"br-noisy-breeze-a5e59rrb","project_id":"old-violet-32930710","name":"main","current_state":"init","pending_state":"ready","state_changed_at":"2025-01-16T21:02:01Z","creation_source":"console","primary":true,"default":true,"protected":false,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2025-01-16T21:02:01Z","updated_at":"2025-01-16T21:02:01Z"},"endpoints":[{"host":"ep-misty-sea-a5833nbi.us-east-2.aws.neon.tech","id":"ep-misty-sea-a5833nbi","project_id":"old-violet-32930710","branch_id":"br-noisy-breeze-a5e59rrb","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2025-01-16T21:02:01Z","updated_at":"2025-01-16T21:02:01Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 8861a536-bb51-4013-ba0a-23dd2d4dcd70
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/old-violet-32930710/branches
  response:
    body:
      string: '{"branches":[{"id":"br-noisy-breeze-a5e59rrb","project_id":"old-violet-32930710","name":"main","current_state":"init","pending_state":"ready","state_changed_at":"2025-01-16T21:02:01Z","creation_source":"console","primary":true,"default":true,"protected":false,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2025-01-16T21:02:01Z","updated_at":"2025-01-16T21:02:01Z","created_by":{"name":"David","image":"https://lh3.googleusercontent.com/a/ACg8ocIW4y_ki038IdI89ZxbbfuRuXtJyTuDYdTJZkMzWLaBHEdN7AY=s96-c"}}],"annotations":{},"pagination":{"next":"eyJicmFuY2hfaWQiOiJici1ub2lzeS1icmVlemUtYTVlNTlycmIiLCJzb3J0X2J5IjoidXBkYXRlZF9hdCIsInNvcnRfYnlfdmFsdWUiOiIyMDI1LTAxLTE2VDIxOjAyOjAxWiIsInNvcnRfb3JkZXIiOiJERVNDIn0=","sort_by":"updated_at","sort_order":"DESC"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - eae33650-bad1-4155-87fc-068330b05895
    status:
      code: 200
      message: OK
version: 1
