interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/users/me
  response:
    body:
      string: '{"active_seconds_limit":0,"billing_account":{"state":"active","payment_source":{"type":""},"subscription_type":"free_v2","payment_method":"none","quota_reset_at_last":"2025-01-01T00:00:00Z","name":"David","email":"david@neon.tech","address_city":"","address_country":"","address_line1":"","address_line2":"","address_postal_code":"","address_state":""},"auth_accounts":[{"email":"david@neon.tech","image":"https://lh3.googleusercontent.com/a/ACg8ocIW4y_ki038IdI89ZxbbfuRuXtJyTuDYdTJZkMzWLaBHEdN7AY=s96-c","login":"david","name":"David","provider":"google"},{"email":"david@neon.tech","image":"","login":"david","name":"David","provider":"keycloak"}],"email":"david@neon.tech","id":"92cdd2ee-a6d8-4647-868f-124531123b03","image":"https://lh3.googleusercontent.com/a/ACg8ocIW4y_ki038IdI89ZxbbfuRuXtJyTuDYdTJZkMzWLaBHEdN7AY=s96-c","login":"david","name":"David","last_name":"Gomes","projects_limit":10,"branches_limit":10,"max_autoscaling_limit":2,"plan":"free_v2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - d00d3d9f-319f-4bda-82a2-02701f87119d
    status:
      code: 200
      message: OK
version: 1
