interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"orange-mouse-15162169","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-7669","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-01-24T13:55:42Z","updated_at":"2024-01-24T13:55:42Z","synthetic_storage_size":0,"quota_reset_at":"2024-02-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"orange-mouse-15162169"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 334d17e596aae5ab273594e82a5b1ae4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/orange-mouse-15162169
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"orange-mouse-15162169","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-7669","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-24T13:55:42Z","updated_at":"2024-01-24T13:55:42Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - af7781ef29fbef45307379f58fbcf90d
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-1682"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"dry-sun-32303143","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-1682","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:U4arIXlN8gdh@ep-restless-lab-a5monq62.us-east-2.aws.neon.tech/neondb","connection_parameters":{"database":"neondb","password":"U4arIXlN8gdh","role":"kennethreitz","host":"ep-restless-lab-a5monq62.us-east-2.aws.neon.tech","pooler_host":"ep-restless-lab-a5monq62-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-throbbing-block-a52mi9q5","name":"kennethreitz","password":"U4arIXlN8gdh","protected":false,"created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z"}],"databases":[{"id":32636973,"branch_id":"br-throbbing-block-a52mi9q5","name":"neondb","owner_name":"kennethreitz","created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z"}],"operations":[{"id":"7b4bb4c0-cc21-4000-a2cd-aba6f37465bc","project_id":"dry-sun-32303143","branch_id":"br-throbbing-block-a52mi9q5","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z","total_duration_ms":0},{"id":"73621f9a-3422-47c4-ab4d-b94fb2d5463e","project_id":"dry-sun-32303143","branch_id":"br-throbbing-block-a52mi9q5","endpoint_id":"ep-restless-lab-a5monq62","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z","total_duration_ms":0}],"branch":{"id":"br-throbbing-block-a52mi9q5","project_id":"dry-sun-32303143","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z"},"endpoints":[{"host":"ep-restless-lab-a5monq62.us-east-2.aws.neon.tech","id":"ep-restless-lab-a5monq62","project_id":"dry-sun-32303143","branch_id":"br-throbbing-block-a52mi9q5","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 5b28f365f3e4a1905d62ace02e54bc8d
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/dry-sun-32303143/branches
  response:
    body:
      string: '{"branches":[{"id":"br-throbbing-block-a52mi9q5","project_id":"dry-sun-32303143","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 941f4e0580c0ad9cc77230b352229faa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/dry-sun-32303143/operations
  response:
    body:
      string: '{"operations":[{"id":"73621f9a-3422-47c4-ab4d-b94fb2d5463e","project_id":"dry-sun-32303143","branch_id":"br-throbbing-block-a52mi9q5","endpoint_id":"ep-restless-lab-a5monq62","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z","total_duration_ms":0},{"id":"7b4bb4c0-cc21-4000-a2cd-aba6f37465bc","project_id":"dry-sun-32303143","branch_id":"br-throbbing-block-a52mi9q5","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z","total_duration_ms":19}],"pagination":{"cursor":"2024-01-24T13:55:43.040646Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - f9077f132d1665c3c045afef70d862da
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/dry-sun-32303143/operations/73621f9a-3422-47c4-ab4d-b94fb2d5463e
  response:
    body:
      string: '{"operation":{"id":"73621f9a-3422-47c4-ab4d-b94fb2d5463e","project_id":"dry-sun-32303143","branch_id":"br-throbbing-block-a52mi9q5","endpoint_id":"ep-restless-lab-a5monq62","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-24T13:55:43Z","updated_at":"2024-01-24T13:55:43Z","total_duration_ms":0}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - f2499ce88636163dcc68c88be4051ca1
    status:
      code: 200
      message: OK
version: 1
