interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"silent-cell-86624606","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-3114","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z","synthetic_storage_size":0,"quota_reset_at":"2024-02-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"silent-cell-86624606"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 754ef66372fbc6b6b37c68030726ef00
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/silent-cell-86624606
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"silent-cell-86624606","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-3114","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-25T15:57:48Z","updated_at":"2024-01-25T15:57:48Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 9d1ddcdfe99fd2f6bbdf10f059781c52
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-1764"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"royal-rice-95423393","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-1764","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:Iykfw9U2VKjc@ep-bold-sound-a5p8di10.us-east-2.aws.neon.tech/neondb","connection_parameters":{"database":"neondb","password":"Iykfw9U2VKjc","role":"kennethreitz","host":"ep-bold-sound-a5p8di10.us-east-2.aws.neon.tech","pooler_host":"ep-bold-sound-a5p8di10-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-green-unit-a5sehv93","name":"kennethreitz","password":"Iykfw9U2VKjc","protected":false,"created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z"}],"databases":[{"id":32656139,"branch_id":"br-green-unit-a5sehv93","name":"neondb","owner_name":"kennethreitz","created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z"}],"operations":[{"id":"1a7a6e72-fa6c-44bb-9048-07b29a2475ee","project_id":"royal-rice-95423393","branch_id":"br-green-unit-a5sehv93","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z","total_duration_ms":0},{"id":"c99b8635-079c-40ef-b243-c6b431c3cd5c","project_id":"royal-rice-95423393","branch_id":"br-green-unit-a5sehv93","endpoint_id":"ep-bold-sound-a5p8di10","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z","total_duration_ms":0}],"branch":{"id":"br-green-unit-a5sehv93","project_id":"royal-rice-95423393","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z"},"endpoints":[{"host":"ep-bold-sound-a5p8di10.us-east-2.aws.neon.tech","id":"ep-bold-sound-a5p8di10","project_id":"royal-rice-95423393","branch_id":"br-green-unit-a5sehv93","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 5521ac673ec6c906dbee813953becf30
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/royal-rice-95423393/branches
  response:
    body:
      string: '{"branches":[{"id":"br-green-unit-a5sehv93","project_id":"royal-rice-95423393","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - a0b7251ef60d47007d8efed6cc604f67
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/royal-rice-95423393/operations
  response:
    body:
      string: '{"operations":[{"id":"c99b8635-079c-40ef-b243-c6b431c3cd5c","project_id":"royal-rice-95423393","branch_id":"br-green-unit-a5sehv93","endpoint_id":"ep-bold-sound-a5p8di10","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z","total_duration_ms":0},{"id":"1a7a6e72-fa6c-44bb-9048-07b29a2475ee","project_id":"royal-rice-95423393","branch_id":"br-green-unit-a5sehv93","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z","total_duration_ms":17}],"pagination":{"cursor":"2024-01-25T15:57:49.545014Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 4b8b02106d16eb93f28dd8f68589541b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/royal-rice-95423393/operations/c99b8635-079c-40ef-b243-c6b431c3cd5c
  response:
    body:
      string: '{"operation":{"id":"c99b8635-079c-40ef-b243-c6b431c3cd5c","project_id":"royal-rice-95423393","branch_id":"br-green-unit-a5sehv93","endpoint_id":"ep-bold-sound-a5p8di10","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-01-25T15:57:49Z","updated_at":"2024-01-25T15:57:49Z","total_duration_ms":0}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 001d634b7e8baf1841a4c85dc50468ed
    status:
      code: 200
      message: OK
version: 1
