interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"shrill-haze-90386576","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-8043","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-02-07T14:04:03Z","updated_at":"2024-02-07T14:04:04Z","synthetic_storage_size":0,"quota_reset_at":"2024-03-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"shrill-haze-90386576"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 2d24309ef1906a31657ae3cc87c688b8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/shrill-haze-90386576
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"shrill-haze-90386576","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-8043","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 327e9eca88520070b87064a30a9dceb7
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-3866"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"frosty-silence-91759038","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-3866","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:aJy1Qh7nHOUS@ep-sparkling-truth-a5hubm76.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"aJy1Qh7nHOUS","role":"kennethreitz","host":"ep-sparkling-truth-a5hubm76.us-east-2.aws.neon.tech","pooler_host":"ep-sparkling-truth-a5hubm76-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-icy-poetry-a5h63s3u","name":"kennethreitz","password":"aJy1Qh7nHOUS","protected":false,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z"}],"databases":[{"id":32885822,"branch_id":"br-icy-poetry-a5h63s3u","name":"neondb","owner_name":"kennethreitz","created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z"}],"operations":[{"id":"43385cd2-0793-40f8-913e-76b01f2e7d3a","project_id":"frosty-silence-91759038","branch_id":"br-icy-poetry-a5h63s3u","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","total_duration_ms":0},{"id":"ac002b8c-09bc-44d2-96cb-9cd23c8805dc","project_id":"frosty-silence-91759038","branch_id":"br-icy-poetry-a5h63s3u","endpoint_id":"ep-sparkling-truth-a5hubm76","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","total_duration_ms":0}],"branch":{"id":"br-icy-poetry-a5h63s3u","project_id":"frosty-silence-91759038","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z"},"endpoints":[{"host":"ep-sparkling-truth-a5hubm76.us-east-2.aws.neon.tech","id":"ep-sparkling-truth-a5hubm76","project_id":"frosty-silence-91759038","branch_id":"br-icy-poetry-a5h63s3u","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 75c1c1c016b01ccfbf005d2eb2246ac1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/frosty-silence-91759038/branches
  response:
    body:
      string: '{"branches":[{"id":"br-icy-poetry-a5h63s3u","project_id":"frosty-silence-91759038","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - d4763be5945a0bb81de57ea43f5f9ad4
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/frosty-silence-91759038/operations
  response:
    body:
      string: '{"operations":[{"id":"ac002b8c-09bc-44d2-96cb-9cd23c8805dc","project_id":"frosty-silence-91759038","branch_id":"br-icy-poetry-a5h63s3u","endpoint_id":"ep-sparkling-truth-a5hubm76","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","total_duration_ms":0},{"id":"43385cd2-0793-40f8-913e-76b01f2e7d3a","project_id":"frosty-silence-91759038","branch_id":"br-icy-poetry-a5h63s3u","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","total_duration_ms":38}],"pagination":{"cursor":"2024-02-07T14:04:04.803443Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 1384de73ecf99e1ef3092d9ccceb3725
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/frosty-silence-91759038/operations/ac002b8c-09bc-44d2-96cb-9cd23c8805dc
  response:
    body:
      string: '{"operation":{"id":"ac002b8c-09bc-44d2-96cb-9cd23c8805dc","project_id":"frosty-silence-91759038","branch_id":"br-icy-poetry-a5h63s3u","endpoint_id":"ep-sparkling-truth-a5hubm76","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-02-07T14:04:04Z","updated_at":"2024-02-07T14:04:04Z","total_duration_ms":0}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - f71dcdb6b98351845af63e2c29d443c5
    status:
      code: 200
      message: OK
version: 1
