interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"wild-mouse-66436193","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-5693","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0,"autoscaling_limit_max_cu":0,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z","synthetic_storage_size":0,"quota_reset_at":"2024-03-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}],"pagination":{"cursor":"wild-mouse-66436193"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - e265c5182bb69ba9324326e913eb1a70
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/wild-mouse-66436193
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"wild-mouse-66436193","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-5693","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:05Z","updated_at":"2024-02-07T14:04:05Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 79bbdaa046c518ff1cbbb083c1f29f7f
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-8030"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"misty-limit-51637438","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-8030","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"primary_branch_only":false},"enable_logical_replication":false},"pg_version":15,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":3072,"branch_logical_size_limit_bytes":3221225472,"store_passwords":true,"creation_source":"console","history_retention_seconds":604800,"created_at":"2024-02-07T14:04:06Z","updated_at":"2024-02-07T14:04:06Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"838386f6-b5f1-4c3b-89a2-4f5a130ef3de"},"connection_uris":[{"connection_uri":"postgres://kennethreitz:YpWmn78xcPSe@ep-green-snow-a5e8szrn.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"YpWmn78xcPSe","role":"kennethreitz","host":"ep-green-snow-a5e8szrn.us-east-2.aws.neon.tech","pooler_host":"ep-green-snow-a5e8szrn-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-square-poetry-a5z73s2e","name":"kennethreitz","password":"YpWmn78xcPSe","protected":false,"created_at":"2024-02-07T14:04:06Z","updated_at":"2024-02-07T14:04:06Z"}],"databases":[{"id":32885825,"branch_id":"br-square-poetry-a5z73s2e","name":"neondb","owner_name":"kennethreitz","created_at":"2024-02-07T14:04:06Z","updated_at":"2024-02-07T14:04:06Z"}],"operations":[{"id":"640ae86f-54b3-4dc4-929e-84663cda1dcb","project_id":"misty-limit-51637438","branch_id":"br-square-poetry-a5z73s2e","action":"create_timeline","status":"running","failures_count":0,"created_at":"2024-02-07T14:04:06Z","updated_at":"2024-02-07T14:04:06Z","total_duration_ms":0},{"id":"48cee62c-3b95-4e18-81dc-4b88af3e5e5c","project_id":"misty-limit-51637438","branch_id":"br-square-poetry-a5z73s2e","endpoint_id":"ep-green-snow-a5e8szrn","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2024-02-07T14:04:06Z","updated_at":"2024-02-07T14:04:06Z","total_duration_ms":0}],"branch":{"id":"br-square-poetry-a5z73s2e","project_id":"misty-limit-51637438","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-02-07T14:04:06Z","updated_at":"2024-02-07T14:04:06Z"},"endpoints":[{"host":"ep-green-snow-a5e8szrn.us-east-2.aws.neon.tech","id":"ep-green-snow-a5e8szrn","project_id":"misty-limit-51637438","branch_id":"br-square-poetry-a5z73s2e","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2024-02-07T14:04:06Z","updated_at":"2024-02-07T14:04:06Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 4ce77a283556af4558b384573a2bf4b3
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/misty-limit-51637438/branches
  response:
    body:
      string: '{"branches":[{"id":"br-square-poetry-a5z73s2e","project_id":"misty-limit-51637438","name":"main","current_state":"init","pending_state":"ready","creation_source":"console","primary":true,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2024-02-07T14:04:06Z","updated_at":"2024-02-07T14:04:06Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 65a78b72557e1c39572d642fd44ec1b2
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/misty-limit-51637438/branches/br-square-poetry-a5z73s2e/roles
  response:
    body:
      string: '{"roles":[{"branch_id":"br-square-poetry-a5z73s2e","name":"kennethreitz","protected":false,"created_at":"2024-02-07T14:04:06Z","updated_at":"2024-02-07T14:04:06Z"}]}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - a4ecc67a590f81e554008a5d4bca6a37
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/misty-limit-51637438/branches/br-square-poetry-a5z73s2e/roles/kennethreitz
  response:
    body:
      string: '{"role":{"branch_id":"br-square-poetry-a5z73s2e","name":"kennethreitz","protected":false,"created_at":"2024-02-07T14:04:06Z","updated_at":"2024-02-07T14:04:06Z"}}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - bb7e48652e5a655f623c33420ec40d73
    status:
      code: 200
      message: OK
version: 1
