interactions:
- request:
    body: '{"key_name": "pytest-3951"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '{"id":821303,"key":"z46yynhjt27n5eaif3l7hnn8fh1romg3dal6j6lh1c5wp1kg9wluz9ivu0qfkg87","name":"pytest-3951","created_at":"2024-02-07T14:04:01Z"}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 980e46c9d9405afa07b0a9d77e9042c7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '[{"id":821303,"name":"pytest-3951","created_at":"2024-02-07T14:04:01Z","last_used_at":null,"last_used_from_addr":""},{"id":768620,"name":"neon_client","created_at":"2024-01-23T21:56:07Z","last_used_at":"2024-02-07T14:04:01Z","last_used_from_addr":"204.111.161.156"}]'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - b4439d52416bca497dd5ce25fe598756
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/api_keys/821303
  response:
    body:
      string: '{"id":821303,"name":"pytest-3951","revoked":true,"last_used_at":null,"last_used_from_addr":""}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 5ba0f1a7236a57ed7f9d30e3631b2fef
    status:
      code: 200
      message: OK
version: 1
