interactions:
- request:
    body: '{"key_name": "pytest-8877"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '{"id":770959,"key":"sujk30fcgqn9bwtte51fspimwqweod88e50t1p40v0j13zj15tjkk99ywzbt1xoz","name":"pytest-8877","created_at":"2024-01-24T13:55:40Z"}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 5343674b346d4b860442487c77e04caa
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '[{"id":770959,"name":"pytest-8877","created_at":"2024-01-24T13:55:40Z","last_used_at":null,"last_used_from_addr":""},{"id":768620,"name":"neon_client","created_at":"2024-01-23T21:56:07Z","last_used_at":"2024-01-24T13:55:40Z","last_used_from_addr":"204.111.161.156"}]'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 7e8f348f84f42246076507dd411b7364
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/api_keys/770959
  response:
    body:
      string: '{"id":770959,"name":"pytest-8877","revoked":true,"last_used_at":null,"last_used_from_addr":""}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - deaf54189dfd12fe26685391d6f9d609
    status:
      code: 200
      message: OK
version: 1
