interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"projects":[{"id":"solitary-thunder-08372287","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-2420","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"active_time":0,"cpu_used_sec":0,"creation_source":"console","created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z","synthetic_storage_size":0,"quota_reset_at":"2025-02-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"}],"pagination":{"cursor":"solitary-thunder-08372287"},"applications":{},"integrations":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 8f3ce189-4dea-4af1-86b4-86b7269c861d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/projects/solitary-thunder-08372287
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"solitary-thunder-08372287","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-2420","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:02:05Z","updated_at":"2025-01-16T21:02:05Z","synthetic_storage_size":0,"consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 7e93af16-c15f-4762-acaa-f178de40b691
    status:
      code: 200
      message: OK
- request:
    body: '{"project": {"name": "pytest-1640"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/projects
  response:
    body:
      string: '{"project":{"data_storage_bytes_hour":0,"data_transfer_bytes":0,"written_data_bytes":0,"compute_time_seconds":0,"active_time_seconds":0,"cpu_used_sec":0,"id":"winter-smoke-11077351","platform_id":"aws","region_id":"aws-us-east-2","name":"pytest-1640","provisioner":"k8s-neonvm","default_endpoint_settings":{"autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"suspend_timeout_seconds":0},"settings":{"allowed_ips":{"ips":[],"protected_branches_only":false},"enable_logical_replication":false,"block_public_connections":false,"block_vpc_connections":false},"pg_version":17,"proxy_host":"us-east-2.aws.neon.tech","branch_logical_size_limit":512,"branch_logical_size_limit_bytes":536870912,"store_passwords":true,"creation_source":"console","history_retention_seconds":86400,"created_at":"2025-01-16T21:02:07Z","updated_at":"2025-01-16T21:02:07Z","consumption_period_start":"0001-01-01T00:00:00Z","consumption_period_end":"0001-01-01T00:00:00Z","owner_id":"92cdd2ee-a6d8-4647-868f-124531123b03"},"connection_uris":[{"connection_uri":"postgresql://neondb_owner:9UPN7YhIiSJQ@ep-royal-brook-a5kfgaqo.us-east-2.aws.neon.tech/neondb?sslmode=require","connection_parameters":{"database":"neondb","password":"9UPN7YhIiSJQ","role":"neondb_owner","host":"ep-royal-brook-a5kfgaqo.us-east-2.aws.neon.tech","pooler_host":"ep-royal-brook-a5kfgaqo-pooler.us-east-2.aws.neon.tech"}}],"roles":[{"branch_id":"br-late-rice-a5cf06kb","name":"neondb_owner","password":"9UPN7YhIiSJQ","protected":false,"created_at":"2025-01-16T21:02:07Z","updated_at":"2025-01-16T21:02:07Z"}],"databases":[{"id":39724312,"branch_id":"br-late-rice-a5cf06kb","name":"neondb","owner_name":"neondb_owner","created_at":"2025-01-16T21:02:07Z","updated_at":"2025-01-16T21:02:07Z"}],"operations":[{"id":"a5a5b49f-26ff-424f-805b-9a8488c5e2ba","project_id":"winter-smoke-11077351","branch_id":"br-late-rice-a5cf06kb","action":"create_timeline","status":"running","failures_count":0,"created_at":"2025-01-16T21:02:07Z","updated_at":"2025-01-16T21:02:07Z","total_duration_ms":0},{"id":"e66abb12-3cdd-4b55-87f2-8a2d02ce5199","project_id":"winter-smoke-11077351","branch_id":"br-late-rice-a5cf06kb","endpoint_id":"ep-royal-brook-a5kfgaqo","action":"start_compute","status":"scheduling","failures_count":0,"created_at":"2025-01-16T21:02:07Z","updated_at":"2025-01-16T21:02:07Z","total_duration_ms":0}],"branch":{"id":"br-late-rice-a5cf06kb","project_id":"winter-smoke-11077351","name":"main","current_state":"init","pending_state":"ready","state_changed_at":"2025-01-16T21:02:07Z","creation_source":"console","primary":true,"default":true,"protected":false,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2025-01-16T21:02:07Z","updated_at":"2025-01-16T21:02:07Z"},"endpoints":[{"host":"ep-royal-brook-a5kfgaqo.us-east-2.aws.neon.tech","id":"ep-royal-brook-a5kfgaqo","project_id":"winter-smoke-11077351","branch_id":"br-late-rice-a5cf06kb","autoscaling_limit_min_cu":0.25,"autoscaling_limit_max_cu":0.25,"region_id":"aws-us-east-2","type":"read_write","current_state":"init","pending_state":"active","settings":{},"pooler_enabled":false,"pooler_mode":"transaction","disabled":false,"passwordless_access":true,"creation_source":"console","created_at":"2025-01-16T21:02:07Z","updated_at":"2025-01-16T21:02:07Z","proxy_host":"us-east-2.aws.neon.tech","suspend_timeout_seconds":0,"provisioner":"k8s-neonvm"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - b5edd29e-d856-4e1b-a42d-e240ac4efc65
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/winter-smoke-11077351/branches
  response:
    body:
      string: '{"branches":[{"id":"br-late-rice-a5cf06kb","project_id":"winter-smoke-11077351","name":"main","current_state":"init","pending_state":"ready","state_changed_at":"2025-01-16T21:02:07Z","creation_source":"console","primary":true,"default":true,"protected":false,"cpu_used_sec":0,"compute_time_seconds":0,"active_time_seconds":0,"written_data_bytes":0,"data_transfer_bytes":0,"created_at":"2025-01-16T21:02:07Z","updated_at":"2025-01-16T21:02:07Z","created_by":{"name":"David","image":"https://lh3.googleusercontent.com/a/ACg8ocIW4y_ki038IdI89ZxbbfuRuXtJyTuDYdTJZkMzWLaBHEdN7AY=s96-c"}}],"annotations":{},"pagination":{"next":"eyJicmFuY2hfaWQiOiJici1sYXRlLXJpY2UtYTVjZjA2a2IiLCJzb3J0X2J5IjoidXBkYXRlZF9hdCIsInNvcnRfYnlfdmFsdWUiOiIyMDI1LTAxLTE2VDIxOjAyOjA3WiIsInNvcnRfb3JkZXIiOiJERVNDIn0=","sort_by":"updated_at","sort_order":"DESC"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - b0000e72-baf9-42d0-abb1-21bd9c0a1af1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/winter-smoke-11077351/branches/br-late-rice-a5cf06kb/roles
  response:
    body:
      string: '{"roles":[{"branch_id":"br-late-rice-a5cf06kb","name":"neondb_owner","protected":false,"created_at":"2025-01-16T21:02:07Z","updated_at":"2025-01-16T21:02:07Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - e3e7d649-1300-4a22-a0fe-5942c8451e6e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://console.neon.tech/api/v2/projects/winter-smoke-11077351/branches/br-late-rice-a5cf06kb/roles/neondb_owner
  response:
    body:
      string: '{"role":{"branch_id":"br-late-rice-a5cf06kb","name":"neondb_owner","protected":false,"created_at":"2025-01-16T21:02:07Z","updated_at":"2025-01-16T21:02:07Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-neon-ret-request-id:
      - 9b10d26a-6349-411c-9efb-5886581c39c6
    status:
      code: 200
      message: OK
version: 1
