interactions:
- request:
    body: '{"key_name": "pytest-260"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://console.neon.tech/api/v2/api_keys
  response:
    body:
      string: '{"id":768660,"key":"2kqtmmim7jh14cu7xq3cyxlje8k64sz4jq0j35auru81gba1utg2lphr5vui3j1t","name":"pytest-260","created_at":"2024-01-23T22:05:48Z"}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 06cb979ba61f7915ace82fefef0bd2f9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://console.neon.tech/api/v2/api_keys/768660
  response:
    body:
      string: '{"id":768660,"name":"pytest-260","revoked":true,"last_used_at":null,"last_used_from_addr":""}'
    headers:
      Content-Type:
      - application/json
      X-Neon-Ret-Request-Id:
      - 679f5a7704fe0142235c329619c79c58
    status:
      code: 200
      message: OK
version: 1
